html
    head
        title Faux rhum
        link(rel="stylesheet", href="/css/style.css")
    body
        block header
            header
                nav.navBar
                    ul.horizontalFlow
                        li
                            a(href="/forum").logoHomePage
                                div
                        if loggedInUser
                            li
                                a(href="/forum/profile/" + loggedInUser.id) Profil
                            if loggedInUser.role === "ADMIN"
                                li
                                    a(href="/forum/admin/users") Liste des utilisateurs
                            li
                                a(href="/forum/deconnexion") Déconnexion
                        else
                            li
                                a(href="/forum/connexion") Connexion
                            li
                                a(href="/forum/inscription") Inscription


        main
            block main
        block footer
            footer