html
    head
        title Faux rhum
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins:300,700")
        link(rel="stylesheet", href="/css/modern-normalize.css")
        link(rel="stylesheet", href="/css/styles.css")
    body
        block header
            header
                h1
                    a(href="/forum") Faux-Rhum
        main
            block main
        block footer
            footer
                nav
                    ul
                        if loggedInUser
                            li
                                a(href="/forum/admin/users") Liste des utilisateurs
                            li
                                a(href="/forum/deconnexion") Déconnexion
                            li
                                a(href="/forum/profile/" + loggedInUser.id + "/") Votre profile
                        else
                            li
                                a(href="/forum/connexion") Connexion
                            li
                                a(href="/forum/inscription") Inscription
