extends ../../layout
block main
    div.container
        h2.titleLeft Éditez votre Question!
        form(method="post").verticalFlow.formLayout
            label(for="title").legend Titre
            input(id="title", name="title", type="text", value=question.title)
            label(for="description").legend Description
            textarea(id="description", name="description") #{question.description}
            button(type="submit").formButton.greenButton Editer
