extends ../../layout
block main
    form(method="post")
        label(for="title") Titre
        input(id="title", name="title", type="text", value=question.title)
        label(for="description") Description
        textarea(id="description", name="description") #{question.description}
        button(type="submit") Editer!
