extends ../../layout
block main
    form(method="post")
        label(for="title") Title
        input(id="title", name="title", type="text", placeholder="Breaking news in the IT world")
        label(for="description") Description
        textarea(id="description", name="description", placeholder="A new technology, recently introduced by...")
        button(type="submit") Créer!
