extends ../../layout
block main
    div.container
        h1.titleLeft Posez votre Question!
        form(method="post").verticalFlow.formLayout
            label(for="title") Question
            input(id="title", name="title", type="text", placeholder="Breaking news in the IT world")
            label(for="description") Description
            textarea(id="description", name="description", placeholder="A new technology, recently introduced by...")
            button(type="submit").formButton.blueButton Envoyer
