extends ../layout
block main
    form(method="post")
        label(for="email") Email
        input(id="email", name="username", type="email", placeholder="john.doe@gmail.com")
        label(for="password") Password
        input(id="password", name="password", type="password", placeholder="******")
        button(type="submit") Connexion
block footer
