extends ../layout
block main
    for question in questions
        article
            h2
                a(href="/forum/question/details/" + question.id) #{question.title}
            ul
                li Published #{question.createdAt}
                li
                    a(href="/forum/profile/" + question.user.id) Par #{question.user.name}
            p #{question.content}
    if loggedInUser
        a(href="/forum/question/creer") Ajouter  une question
    else
        a(href="/forum/connexion") Connectez-vous pour poster une question!