extends ../layout
block main
    for question in questions
        article
            h2
                a(href="/forum/question/" + question.id) #{question.title}
            ul
                li
                    a(href="/forum/profile/" + question.user.id) @#{question.user.name}
                li Published #{question.createdAt}
            p #{question.content}
