extends ../layout
block main
    div.container
        div.addQuestionBlock
            if loggedInUser
                a(href="/forum/question/creer") Ajouter  une question
            else
                a(href="/forum/connexion") Connectez-vous pour poster une question!
        div.listTitle.horizontalFlow
            h2 Toutes les Questions
            span | #{questions.length} Questions
        div.listQuestions
            div.legend
                span.firstSpan Question
                span.secondSpan Publiée le
                span.thirdSpan Auteur
                span.fourthSpan Résolue
            div.listContent
                if questions.length === 0
                    p Pas encore de question!
                else
                    for question in questions
                        article
                            ul
                                li.questionTitle
                                    a(href="/forum/question/details/" + question.id) #{question.title}

                                li.questionDate #{question.prettyDate}
                                li.questionAuthor
                                    a(href="/forum/profile/" + question.user.id) #{question.user.name}
                                li.questionResolved
                                    if question.resolvedAt
                                        span.resolved OUI
                                    else
                                        span.notResolved NON