extends ../layout
block main
    div.container.containerProfil
        div.detailsProfil.profil
            h1 Mon Profil
            ul
                li
                    p.legend Nom
                    input(type="text" value= user.name).infoProfil.name
                li
                    p.legend Description
                    textarea(name="descritpion").infoProfil.description #{user.bio}
                li
                    p.legend Email
                    input(type="email" value= user.email).infoProfil.email
                    button.formButton.greenButton change
                li
                    p.legend Password
                    input(type="password" value=user.password).infoProfil.password
                    button.formButton.greenButton change
                li
                    p.legend Role
                    if user.role === "ADMIN"
                        input(type="text" value="Administrateur").infoProfil
                    else
                        input(type="text" value="Utilisateur").infoProfil
        div.questionsProfil.profil
            h1 Questions

            if user.questions.length === 0
                div Pas de question enregistrée!
            else
                for question in user.questions
                    div
                        a(href="/forum/question/details/" + question.id) #{question.title}
                        if question.resolvedAt
                            span.resolved Résolue
                        else
                            span.notResolved Non résolue