extends ../layout
block main
    article
        h2 #{user.name}
        p #{user.email}
        p #{user.bio}
        if user.role === "ADMIN"
            p Role : Admin
        else
            p Role : Utilisateur
    for question in user.questions
            p
                a(href="/forum/question/details/" + question.id) #{question.title}
