extends ../../layout
block main
    div.container
        if user.role === "ADMIN"
            h2 Role actuel de #{user.name}: Administrateur
        else
            h2 Role actuel de #{user.name}: Utilisateur
        form(method="post").verticalFlow.formLayout
            label(for="role") Nouveau role
            select(id="role", name="role")
                option(value="ADMIN") Administrateur
                option(value="RANDOM") Utilisateur
            button(type="submit").formButton.blueButton Modifier