extends ../../layout
block main
    div.container
        div.listUsers
            if users.length === 0
                p Pas d'utilisateurs!
            else
                for user in users
                    article
                        ul.horizontalFlow
                            li
                                a(href="/forum/profile/" + user.id) #{user.name}
                            li
                                p #{user.role}
                            li Créé le #{user.prettyDate}
                            a(href="/forum/admin/users/edit/" + user.id) Éditer
