extends ../../layout
block main
    for user in users
        article
            h2
                a(href="/forum/admin/users/edit/" + user.id) #{user.name}
            ul
                li
                    p #{user.role}
                li Créé le #{user.createdAt}
