.formLayout{
  background-color: white;
  border-radius: 5px;
  border:1px solid $miniBorderColor;
  text-align: left;
  padding: 2% 4%;

  input, textarea, select{
    border:solid 1px $miniBorderColor;
    margin-bottom: 2%;
    border-radius: 5px;
    padding:10px;
  }
  label{
     margin-bottom: 1%;
   }
  input {
    max-width: 50%;
  }
  textarea{
    min-height:100px;
  }
  button{
    margin-left: auto;
  }
  select{
    width: 50%;
  }
}
