//colors
$lightBlue: #00AEEF;
$darkYellow: #FECF39;
$lightYellow: #FFDF6D;
$lightGrey: #DBDBDB;
$brown: #81736A;
$darkGrey: #00AEEF;
$pink: #FFA2AD;
$lightGreen: #74C7A8;
$darkGreen: #00797A;
$purple: #8781BD;
$nearWhiteBckgrnd: #f8fafc;
$miniBorderColor: #dfe3e9;
$smallFontColor: #7c8ca5;
$bodyColor: #eff3f6;
$navBarColor: #9fa9ba;

//policies
$h1FontFamily: 'Source Sans Pro Semibold', sans-serif;
$h1FontSize: 32px;
$h1LineHeight: 44px;
$h1Color: #393C3E;

$h2FontFamily: 'Source Sans Pro', sans-serif;
$h2FontSize: 22px;
$h2LineHeight: 32px;
$h2Color: #393C3E;
$h2HoverColor: #009AD4;

$h3FontFamily: 'Source Sans Pro', sans-serif;
$h3FontSize: 20px;
$h3LineHeight: 28px;
$h3Color: #393C3E;

$pFontFamily: 'Source Sans Pro', sans-serif;
$pFontSize: 16px;
$pLineHeight: 24px;
$pColor: #71787E;

$pFooterFontFamily: 'Source Sans Pro', sans-serif;
$pFooterFontSize: 14px;
$pFooterLineHeight: 22px;
$pFooterColor: #71787E;

$linkFontFamily: 'Source Sans Pro Semibold', sans-serif;
$linkFontSize: 16px;
$linkLineHeight: 24px;
$linkColor: #00AEEF;
$linkHoverColor: #009AD4;

//buttons
$normalGreenButton: #25b10f;
$hoverGreenButton: #1e990a;
$clickGreenButton: #197809;

$normalBlueButton: #1e95ef;
$hoverBlueButton: #1984d4;
$clickBlueButton: #1270b7;

$buttonColor: #ffffff;

$paddingButtons: 10px 30px;

//inputs & checkbox
$inputSuccessColor: #1bb934;
$checkboxActive: #52d43d;

